/* 
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font of each element.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
Upload to the production server with sftp.
View your index.html in the production server.
*/

h1{
   color:#FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-variant: small-caps;
   text-decoration: overline;
}

h2{
   color:#6699FF;
   text-decoration: overline;
}

p{
  font-variant: small-caps;
  background-color: #CCFFFF;
}

header{
        background-color:#CCCCFF;
        border-style: outset;
        border-width: medium;
        border-color: #FF6666 #FF99FF;
        text-align: center;
}

nav{
    font-family: Arial;
}

main{
     font-family: Arial;
     color:#33CCFF;
     border-style: dashed dashed double double;
     border-color: #66FF99 #6633FF #CC66FF #0066FF;
     border-top-width: 10px;
     background-color: #336699;
}

footer{
        color:#000000;
        font-family: Arial;
        font-weight: bold;
        text-decoration: underline;
        border-top-style: double;
        border-bottom-style: double;
        border-right-style: dotted;
        border-left-style: dotted;
        border-color: #99CCCC #99CCCC #99FFCC #99FFCC;
}

